.container {
  max-width: 1660px;
  padding: 0 10px;
  margin: 0 auto;
}

:root {
  --font-viaoda: 'Viaoda Libre';
  --font-lastochka: 'Lastochka';
  --gold: #B39986; 
  --text: #696969; 
  --pale: #707070;
}



html, body { 
  font-family: 'Viaoda Libre', arial;
  color: var(--text);
  font-size: 32px;
  overflow-x: hidden;
}

img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'Lastochka';
  src: url('./font/Lastochka.ttf');
}

@font-face {
  font-family: 'Viaoda Libre';
  src: url('./font/ViaodaLibre-Regular.ttf');
}